# Learn more https://eslint.org/docs/latest/use/configure/ignore

# dependencies

node_modules/

# local env files

.env\*.local

# typescript

\*.tsbuildinfo

# build files

!.build
.build/\*
!.build/test.js

# vs code

.vscode/\*

index-env.d.ts

.hintrc

.gitignore

jest.config.js

.babelrc

# linter

.eslintrc.json
.eslintrc.js

# config files

babel.config.js
metro.config.js
tsconfig.json

# package files

package.json
package-lock.json
yarn.lock
