# Learn more https://eslint.org/docs/latest/use/configure/ignore

# dependencies

node_modules/

# typescript

\*.tsbuildinfo

# build files

!.build
.build/\*
!.build/test.js

# test files

jest.config.js

# linter

.eslintrc.js

# config files

babel.config.js
./metro.config.js
prettierrc.js
rn-cli.config.js
